.container {
  display: flex;
  background: #fff;
  padding: 20px;
  border-radius: 30px;
}

.main-section {
  width: 100%;
  max-width: 400px;
  padding: 50px;

  h1 {
    color: #242742;
    font-size: 3rem;
    font-weight: 700;
    margin: 10px 0;
  }

  .first-p {
    margin-bottom: 30px;
  }

  p {
    display: flex;
    color: #565b87;
    font-weight: 500;
    line-height: 25px;

    span {
      margin: 0 10px;
    }
  }
}